<h2><%= @venue.name %></h2>
<% @venue.tickets.each do |v| %>
    <h3><li><%= link_to v.name, edit_ticket_path(v), method: "get" %></li></h3>
<% end %>

<%= render partial: 'layouts/errors', locals: {object: @venue} %>

<%= form_for(@venue) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.submit "Edit Venue" %> 
<% end %>

<p><h3><%= link_to "Add a Ticket to this Venue", new_venue_ticket_path(@venue) %></h3></p> 
<p><h3><%= link_to "Delete Venue", venue_path, method: "delete" %></h3></p>