<h1>Add a Venue</h1>

<%= form_for(@venue) do |f| %> 
    <%= f.collection_select :ticket_id, Ticket.all, :id, :name %>

    <%= f.label :name %> 
    <%= f.text_field :name %>

    <%= f.submit "Submit" %>
<% end %>