<!DOCTYPE html>
<html>
  <head>
    <title>RailsConcertPortfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
    <% if flash[:message] %>
      <%= flash[:message] %>
    <% end %>
    <%= @error %>
    </div>
    <%= yield %>
  </body>
  <footer>
  <% if logged_in? %>
    <%= link_to "Add a new Ticket", new_ticket_path %> -
    <%= link_to "See all Tickets", tickets_path %> -
    <%= link_to "Add a Venue", new_ticket_venue_path(:ticket_id) %> -
    <%= link_to "See all Venues", ticket_venues_path(:ticket_id) %> -
    <%= link_to "logout", logout_path, method: "delete" %>
    <% else %>
    <%= link_to "Signup", signup_path %> -
    <%= link_to "Login", login_path %>
    <% end %>
  </footer> 
</html>
